{% block content %}



<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <a class="navbar-brand" href="#">ContestAI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!--Explain-->
            <!-- <a class="nav-item nav-link">~</a><!--bad hack to fix spacing problem with toggle button...-->
            <!--<div class="nav-item nav-link custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="explainSwitch">
                <label class="custom-control-label" for="explainSwitch">Explain</label>
            </div> -->
            <a class="nav-item nav-link" href="{{ url_for('explain') }}">Explain</a>
            <a class="nav-item nav-link" onclick=reportInternal()>Report to Provider</a>
            <a class="nav-item nav-link" href="{{ url_for('compare') }}">Compare service</a>
            <a class="nav-item nav-link" href=downloadData()>Extract my data</a>
            <a class="nav-item nav-link" href="{{ url_for('report_external') }}">Report externally</a>
        </div>
    </div>
</nav>
<script>
    var userDataUrl = "{{ url_for('user_data') }}"
    var reportInternalUrl = "{{ url_for('report_internal') }}"
    var downloadDataUrl = "{{ url_for('my_data') }}"

    console.log(reportInternalUrl, downloadDataUrl, userDataUrl, "urls")
</script>
{% endblock %}
