<!-- 1. Explain algo
2. algorithmic transparency database
3. Which algorithms/tools are used? -->
{% extends 'base.html' %}
{% block title %}Model Explanation{% endblock %}
{% block content %}
<h1>Explain AI vision detection components</h1>
<h2>Detected face is shown in a box</h2>
<div>
  <img src="{{ url_for('explain_feed') }}" width="800"/>
</div>
<div>
    <h3>About the system</h3>
    <ol>
        <li>Model is finetuned version of Blaze Face Short Range detection model. <a href="https://drive.google.com/file/d/1d4-xJP9PVzOvMBDgIjz6NhvpnlG9_i0S/preview">[Model card]</a></li>
        <li>Finetuning on private dataset contact <a href="#">thedevelopers@headpong.org</a> with specific queries</li>
    </ol>
</div>
{% include 'restart.html' %}

{% endblock %}