{% extends 'userbase.html' %}
{% block extraheaders %}
<style>
  body {
    background: #333;
  }
</style>
{% endblock %}
{% block title %}HeadPong{% endblock %}
{% block content %}
<div style="text-align:center; color: yellow">
  <!-- <h1 style="font-family: Workbench">Headpong</h1> -->
<p style="white-space: pre-line">
<pre style="color: yellow">
   _    _                _                         
  | |  | |              | |                        
  | |__| | ___  __ _  __| |_ __   ___  _ __   __ _ 
  |  __  |/ _ \/ _` |/ _` | '_ \ / _ \| '_ \ / _` |
  | |  | |  __/ (_| | (_| | |_) | (_) | | | | (_| |
  |_|  |_|\___|\__,_|\__,_| .__/ \___/|_| |_|\__, |
                          | |                 __/ |
                          |_|                |___/  
</pre>
</p>
  <h2>Use your head + AI to beat the high-score</h2>
</div>
<div style="text-align: center; width: 800;" class="mx-auto">
  <canvas class="mx-auto" id="gameCanvas" width="800" height="600"></canvas>
</div>
<div style="text-align: center; width: 800;" class="mx-auto">
  <img class="mx-auto" src="{{ url_for('video_feed') }}" width="800"/>
</div>
<div>
  <div style="height: 50px"></div>
, <a href="/">
  <button type="button" class="btn btn-secondary btn-lg">Restart</button>
  </a>
  <div style="height: 300px"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="highScoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">HIGH SCORE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>HIGH SCORE!</h1>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
  var updateHighScoreUrl = '{{ url_for("updateHighScore") }}'
  var highScore = {{ data|tojson|safe }}.highScore;
</script>
<script src="{{ url_for('static', filename='js/pong.js') }}"></script>
<script type="text/javascript">
  var headPosUrl = '{{ url_for("move_paddle") }}';
  // console.log(headPosUrl, "url");
  setInterval(movePaddle, 25, headPosUrl)
</script>
{% endblock %}



</body>
</html>