{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<h1></h1>
<h1>Choose your own adventure...</h1>
<div class="alert alert-info"><p span="warning">No data will be collected by this application
    </p></div>
<div>
    <a href="/newsfeed"><button type="button" class="btn btn-primary btn-lg">Newsfeed</button></a>
    <a href="/pong"><button type="button" class="btn btn-primary btn-lg">HeadPong</button></a>
    <!--<a href="/social"><button type="button" class="btn btn-primary btn-lg">XXX</button></a>-->
    
</div>
{% endblock %}