{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<h1></h1>
<img style="height: 160px" src="{{url_for('static', filename='data/BSI-logo-charcoal.png')}}">
<h1 style="font-size: 160px;">ContestAI</h1>

<div style="font-size: 160px;">
    <!--<a href="/newsfeed"><button type="button" class="btn btn-primary btn-lg">Newsfeed</button></a>-->
    <a href="/pong" style="margin: auto;"><button style="font-size: 60px;" type="button" class="btn btn-primary btn-lg">Play</button></a>
    <!--<a href="/social"><button type="button" class="btn btn-primary btn-lg">XXX</button></a>-->
    
</div>
<div class="alert alert-info">
    <p span="warning">This exhibit does not collect any personal data including images</p>
</div>
<div class="alert alert-info">
    <h3>Sign up to get involved in ContestAI research or keep informed</h3>
    <img src="{{url_for('static', filename='data/adobe-express-qr-code.png')}}">
</div>
{% endblock %}