{% extends 'base.html' %}
{% block title %}My Data{% endblock %}
{% block content %}
<div>
  <h1>Your Data</h1>
</div>
<form>
    <!--Optional personal data-->
    {% for item in data.items %}
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">{{ item.key }}</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ item.value }}">
        </div>
      </div>
    {% endfor %}

    <div class="form-group row">
      <label for="inputExpected" class="col-sm-2 col-form-label">Timestamp</label>
      <div class="col-sm-10">
        <input readonly class="form-control-plaintext" id="inputExpected", value="2024-03-14T02:47:04+0000">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputExpected" class="col-sm-2 col-form-label">Service</label>
      <div class="col-sm-10">
        <input readonly class="form-control-plaintext" id="inputExpected", value="Newsfeed v.1.2.0 - www.newsfeed.com">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputExpected" class="col-sm-2 col-form-label">Screenshot</label>
      <div class="col-sm-10">
        <img style="height: 100px" src="{{url_for('static', filename='data/images/Screenshot from 2024-03-14 13-40-58.png')}}">
      </div>
    </div>



    <div class="form-group row">
        <label for="inputHappened" class="col-sm-2 col-form-label">What happened?</label>
        <div class="col-sm-10">
          <input class="form-control" id="inputHappened">
        </div>
    </div>

    <div class="form-group row">
      <label for="inputExpected" class="col-sm-2 col-form-label">What was expected? [optional]</label>
      <div class="col-sm-10">
        <input class="form-control" id="inputExpected">
      </div>
  </div>
    
    <div class="form-group row">
      <label for="inputEmail" class="col-sm-2 col-form-label">email [optional]</label>
      <div class="col-sm-10">
        <input class="form-control" id="inputEmail" placeholder="email">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">{{ data.buttontext | default("Submit", true) }}</button>
</form>
{% endblock %}
