{% extends 'base.html' %}
{% block title %}My Data{% endblock %}
{% block content %}
<div>
  <h1>Report Externally</h1>
</div>
<div class="row">
    <div class="col-sm">
      <div class="card report-external-card bg-dark text-white">
        <img class="card-img-top report-external-image" src="{{url_for('static', filename='data/aljlogo')}}"
        alt="AJL logo">
        <div class="card-body">
          <h5 class="card-title">Algorithmic Justice League</h5>
          <a href="www.ajl.org" class="btn btn-primary">Find out more</a>
          <a href="ww.ajl.org" class="btn btn-secondary">Report</a>

        </div>
      </div>
    </div>

    <div class="col-sm">
        <div class="card report-external-card bg-dark text-white">
          <img class="card-img-top report-external-image" src="{{url_for('static', filename='data/InclusivAILogo.webp')}}" 
          alt="Inclusive AI Project logo">
          <div class="card-body">
            <h5 class="card-title">Inclusive AI Project</h5>
            <a href="www.inclusiveaiproject.com" class="btn btn-primary">Find out more</a>
            <a href="www.inclusiveaiproject.com" class="btn btn-secondary">Report</a>
          </div>
        </div>
    </div>

    <div class="col-sm">
      <div class="card report-external-card bg-dark text-white">
        <img class="card-img-top report-external-image" src="{{url_for('static', filename='data/AIID_logo.png')}}" style="background: 'black'"
        alt="Ai Incident Database logo">
        <div class="card-body">
          <h5 class="card-title">AI Incident Database</h5>
          <a href="https://incidentdatabase.ai/" class="btn btn-primary">Find out more</a>
          <a href="https://incidentdatabase.ai/" class="btn btn-secondary">Report</a>
        </div>
      </div>
  </div>
</div>

{% include 'restart.html' %}

{% endblock %}
