
.glyphicon {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }
  
  .glyphicon:hover {
    opacity: 0.75;
    cursor: pointer;
  }

img.report-external-image {
  width: auto;
  height: 10em;
  margin: auto;
}
  

nav.navbar-dark {
  background-color: coral!important;
}

button.btn-primary {
  background-color: coral;
  border-color: coral;
}

button.btn-primary:hover {
  background-color: orange;
  border-color: lightcoral;
}
